<div class="mx-auto items-center justify-center space-y-20 text-center border border-0.5 border-gray/70 px-8 py-12 rounded-xl shadow-xl">
  <div class="space-y-10">
    <h1 class="text-6xl font-semibold">Stripe Checkout</h1>
    <p class="text-3xl">To log in, please click button below</p>
  </div>
  <%= button_to "Login", login_path, {class: 'px-5 py-3 mx-auto border border-0.5 shadow-md rounded-xl'} %>
</div>
